@import url("~/platform.css");
Page {
    background-color: white;
    font-size: 15;
}
TextField {
    padding: 10;
    font-size: 13;
}

/*colors --*/
.blue{
    color: #2b78e4;
}
.blue-background{
    background-color: #2b78e4;
}
.blue2{
    color: #9fc5f8;
}
.green {
    color: #93c47d;
}
.dark-gray{
    color: #333333;
}
.light-gray{
    color: #666666;
}



.action-bar {
    background-color: #053140;
    color: white;
}
label {
    margin: 20;
}
.drawer-content {
    background-color: #053140;
    color: white;
    padding-top: 20;
}
.drawer-content label {
    font-size: 20;
    margin: 10 0 15 25;
}
.selected {
    color: #e4ba4e;
}

